.jumbotron {
    background-image: url("https://thumbs.dreamstime.com/z/watercolor-blue-crystals-set-tribal-boho-style-gemstone-design-elements-isolated-white-background-73409850.jpg");
    background-size: cover;

}



.jumbotron h1 {
    color: #000;
    text-shadow: 3px 3px #fff;

}

.instructions {
    text-align: center; 
}

